@import '../../assets/color.scss';


.HubContainer {
    display: flex;
    height: 100vh;
    float: 1;
    flex-direction: column;
}

.HubTitleContainer {
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;


    .HubTitleLeftAction {
        margin: 16px;

        .HubTitle {
            color: $fontPrimary;
        }
    }

    .HubTitleRightAction {
        margin: 16px;

        button {
            color: $fontPrimary;
            background-color: transparent;
            border: 0px;
            align-self: flex-end;
        }
    }

}


.HubButtonContainer {
    width: 80vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-self: center;
    overflow-x: visible;

    .HubButton {
        background-color: transparent;
        border: 0px;
        font-weight: 600;
        font-size: 10rem;
        cursor: pointer;

        .HubButtonLetter {
            display: inline-block;
            animation-name: rotateOut, toMainColor;
            animation-duration: 1s;
            animation-fill-mode: both;
        }

        .HubButtonLetterAccent {
            display: inline-block;
            animation-name: rotateOut, toAccentColor;
            animation-duration: 1s;
            animation-fill-mode: both;
        }

        .HubButtonLInkIcon {
            margin-left: 1rem;
            display: inline-block;
            animation-name: slide;
            animation-duration: 0.5s;
        }
    }

    .HubButton:hover {
        .HubButtonLetter {
            animation-name: rotateIn;
            animation-duration: 1s;
            animation-fill-mode: both;
        }

        .HubButtonLInkIcon {
            animation-name: slide;
            animation-duration: 0.5s;

            svg {
                bottom: 0px;
            }
        }
    }


}

@keyframes slide {
    to {
        margin-left: 1rem;
    }

    from {
        margin-left: -3rem;
    }

}

@keyframes toMainColor {
    from {
        color: $fontAccent;
    }

    to {
        color: $fontPrimary;
    }
}

@keyframes toAccentColor {
    from {
        color: $fontPrimary;
    }

    to {
        color: $fontAccent;
    }
}



@keyframes rotateIn {
    0% {
        -webkit-transform: rotateY(10deg);
        /* Safari */
        transform: rotateY(10deg);
        /* Standard syntax */
    }

    100% {
        -webkit-transform: rotateY(180deg);
        /* Safari */
        transform: rotateY(180deg);
        /* Standard syntax */
    }
}

@keyframes rotateOut {
    0% {
        -webkit-transform: rotateY(180deg);
        /* Safari */
        transform: rotateY(180deg);
        /* Standard syntax */
    }

    100% {
        -webkit-transform: rotateY(180deg);
        /* Safari */
        transform: rotateY(0deg);
        /* Standard syntax */
    }
}